stages:
  - build

variables:
  MSBUILD_TARGET: 'CleanFlashInstaller/CleanFlashInstaller.csproj'

build:
  stage: build
  script:
    - '& nuget restore'  # restore Nuget dependencies
    - '& msbuild "$env:MSBUILD_TARGET" /p:Configuration=Release'
  artifacts:
    paths:
    - 'CleanFlashInstaller/bin/Release/*.exe'
    expire_in: never
